version: '2'

services:

  minecraft-server:
    ports:
      - "25565:25565"

    environment:
      EULA: "TRUE"
      VERSION: "1.13.2"
      DIFFICULTY: hard
      SERVER_PORT: 25565 # default
      SERVER_NAME: Memes
      MAX_PLAYERS: 20
      SNOOPER_ENABLED: "False"
      
    image: itzg/minecraft-server

    container_name: mc

    tty: true
    stdin_open: true
    restart: always

    volumes:
      - ./data:/data